@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
.background-android {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(../assets/abc.jpg);
  background-size: cover;
}
.text-hour {
  font-size: 5rem;
  color: white;
}
.btn-home-icons {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}